@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

.bg-deepblue {
    background: #0C1148;
}

.big-container {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
}

.navbar {
    width: 85%;
    padding-top: 20px;
    padding-bottom: 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo a{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

.change1 {
    color: #FF4519;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
}

.links ul {
    list-style: none;
    display: inherit;
    margin-right: 40px;
}

.links li {
    margin-right: 30px;
}

.links a {
    color: white;
    transition: .3s;
}

.links a:hover {
    font-size: 1.3em;
    color: #FF4519;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.container {
    padding-top: 20px;
    padding-bottom: 54px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron {
    gap: 6rem;
}

.jumbotron div {
    color: white;
}


.jumbotron div img {
    width: 100%;
}

.jumbotron div h1 {
    margin: 30px 0;
    top: 0;
}

.jumbotron div h3 {
    margin: 10px 0;
    top: 0;
}

.formulario input {
    margin: 20px 0;
    padding: 8px 0;
    width: 80%;
    border: 0;
    border-radius: 7px;
}

.formulario button {
    padding: 8px 0;
    border: 0;
    border-radius: 7px;
    width: 15%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
}

.card {
    min-width: 250px;
    max-width: 30%;
    height: 600px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.card-img{
    width: 100%;
}

.card-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    margin-bottom: 20px;
}

.card-title {
    line-height: 1.7rem;
    margin: 0 15px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 0 15px;
    text-align: justify;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer-cont {
    width: 28.33333333%;
    align-items: center;
    display: inline-block;
    margin: 25px 25px;
    justify-content: center;
    text-align: center;
}

.footer-cont h2 {
    margin: 20px 20px;
}

.footer-cont p {
    margin: 20px 20px;;
}

.footer-cont a {
    display: block;
    text-align: center;
}

@media (max-width: 912px), (max-height: 1368) {
    .container {
        display: grid;
    }
    .card-container {
        display: flex;
    }
    .footer-cont {
        width: 40%;
    }
}

@media (max-width:820px) {
    .links {
        display: none;
    }
    .hamburguer {
        display: block;
    }

}

@media (max-width: 774px) {
    .footer-cont {
        width: 40%;
    }
}

@media (max-width:768px) {
    .container {
        display: grid;
    }

    .card-container {
        display: flex;
    }
}

@media (max-width: 510px) {
    .footer-cont {
        width: 100%;
    }
    .footer-cont a {
        display: inline;
        margin: 0 20px;
    }
}

@media (max-width: 320px) {
    .formulario input {
        width: 100%;
    }

    .formulario button {
        width: 30%;
    }

    .card {
        width: 70%;
    }
}